[submodule "tsschecker"]
	path = external/tsschecker
	url = https://github.com/1Conan/tsschecker
	branch = iOS16
[submodule "idevicerestore"]
	path = external/idevicerestore
	url = https://github.com/futurerestore/idevicerestore
	branch = main
